# Force all header files to be treated as C++ instead of C
*.h linguist-language=C++

# Exclude Visual Studio metadata and build scripts from language stats
*.vcxproj       linguist-generated
*.filters       linguist-generated
*.sln           linguist-generated

# Exclude Windows resource files from language stats
*.rc            linguist-generated
*.rc2           linguist-generated
Res/**          linguist-generated
