# Disable whitespace checks
filter=-whitespace/braces,-whitespace/blank_line,-whitespace/parens,-whitespace/comma,-whitespace/operators,-whitespace/comments,-whitespace/indent,-whitespace/line_length

# Disable readability checks
filter=-readability/casting,-readability/braces

# Disable build checks
filter=-build/include_subdir,-build/include,-build/header_guard

# Disable runtime checks
filter=-runtime/printf
